<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Receipe</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-receipe-item></app-receipe-item>
    <a href="#" class="list-group-item clearfix" *ngFor="let receipe of receipes">
      <div class="float-start">
        <h4 class="list-group-item-heading">{{ receipe.name }}</h4>
        <p class="list-group-item-text">{{ receipe.description }}</p>
      </div>
      <span class="float-end">
        <img src="{{ receipe.imagePath }}" [alt]="receipe.name" class="img-responsive" style="max-height:50px;" />
      </span>
    </a>
  </div>
</div>
